@charset "UTF-8";

body {
    background-color: #ffffff;-webkit-font-smoothing: antialiased;
    overflow-x: hidden;}
a, a:focus, a:hover, input, input:focus, button, a:active {
    outline: none;
    text-decoration: none;
}

.login-container-layout {
    width: 100%;
    position: absolute;
    top: 20%;
}

.login-card {
    width: 300px;
    margin: 0 auto;
}

.login-card .form-control {
    margin-bottom: 10px;
}

.login-button-card {
    display: flex; align-items: center;
}

.login-button-card .login-btn {
    background-color: #dd3b3d; color: #fff; border-radius: 4px;
    padding: 7px 28px; border-width: 0;
}

.login-button-card .login-tip {
    font-size: 13px; color: red; margin-left: 15px;
}

.login-loading {
    max-height: 22px;
}



/*post.html*/

.div-url-layout {
    margin-top: 30px; display: flex; align-items: center;
}
.div-url-layout input {
    margin-right: 20px; flex-grow: 1;
}
.div-tip {
    min-width: 80px;
}
.div-title-layout {
    display: flex; align-items: center; margin-top: 20px;
}
.form-control {
     max-width: 500px;
}
.summary-layout {
    margin-top: 20px; margin-bottom: 100px;
}
.w-e-text-container {
    min-height: 600px;
}
.bottom-post-container {
    background-color: #ccc; z-index: 10000;
}
.bottom-control {
    margin-bottom:20px; margin-top: 20px; display: flex; justify-content: flex-end;
}
.post-btn {
    margin-left: 20px;
}
.dropdown-menu li {
    cursor: pointer;
}