{%- set title = "登录-丽人资讯" %}
{%- extends "admin/adminwrapper.html" %}
{% block body %}
    <div class="login-container-layout">
        <div class="login-card">
            <p><b style="font-size: 20px;">编辑登录</b></p>
            <input type="text" id="username" class="form-control" placeholder="请输入用户名" aria-describedby="basic-addon1">
            <input type="password" id="password" class="form-control" placeholder="请输入密码" aria-describedby="basic-addon1">
            <div class="login-button-card">
                <button type="button" class="login-btn" id="login-button" data-loading-text="登录中..." autocomplete="off"> 登录 </button>
                <span class="login-tip"></span>
            </div>
        </div>
    </div>
    <script src={{ url_for('static', filename='js/login.js') }} type='text/javascript'></script>
{% endblock %}