{%- set title = "发布文章-丽人资讯" %}
{%- extends "admin/adminwrapper.html" %}
{% block body %}

    <div class="col-md-8 col-md-offset-2">
        <div class="div-url-layout">
            <div class="div-tip">粘贴地址:</div>
            <input placeholder="在此处粘贴要解析的地址" class="form-control" id="url-input" />
            <button class="btn btn-default analysis-btn" data-loading-text="解析中..." autocomplete="off">解析</button>
        </div>

        <div class="div-title-layout">
            <div class="div-tip">文章标题:</div>
            <input placeholder="自动生成后可再次修改" class="form-control" id="article-title" />
        </div>

        <div class="summary-layout">
            <div name="content" id="editor"></div>
        </div>

        <div class="navbar-fixed-bottom bottom-post-container">
            <div class="col-md-8 col-md-offset-2 bottom-control">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        发布到：<b></b>&nbsp;&nbsp;&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a class="post-category" id="1">大姨妈</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="post-category" id="2">备孕</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="post-category" id="3">育儿</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="post-category" id="4">美妆</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="post-category" id="5">健康</a></li>
{#                        <li role="separator" class="divider"></li>#}
{#                        <li><a class="post-category" id="6">推荐</a></li>#}
                    </ul>
                </div>
                <button class="btn btn-default post-btn" data-loading-text="发布中..." autocomplete="off">&nbsp;&nbsp;&nbsp;发布&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src={{ url_for('static', filename='js/post.js') }}></script>
{% endblock %}