{%- set page = 'education' %}
{%- extends "front/wrapper.html" %}
{%- import 'front/macro.html' as card %}
{%- block pageinfo %}{{ card.pageinfo('育儿 - 丽人资讯') }}{% endblock %}

{%- block body %}
    <div class="container container-wrapper">
        <div class="col-md-7 content-layout" id="news-container">
            {%- include 'front/newsFactory.html' %}
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4">
            {{ card.hot_list(hots) }}
        </div>
    </div>
    <script src={{ url_for('static', filename='js/index.js') }} type='text/javascript'></script>
{%- endblock %}



