{%- set webtitle = '丽人资讯'  %}
{% macro cell(news) -%}
    <div class="item-layout">
        <a class="item-layout-a" target="_blank" href={{ url_for('detail', id=news.news_id) }}>
            {%- if news.imgs|length == 2 and news.summary != '' and news.summary != None %}
                {#有摘要的情况#}
                {{ summary_style(news) }}
            {%- else %}

                {#多图的情况#}
                {%- if news.imgs|length >= 3 %}
                    {{ multi_img_layout(news) }}
                {%- else %}
                    {{ only_img_layout(news) }}
                {%- endif %}

            {%- endif %}
        </a>
        <div class="separate-div"></div>
    </div>
{%- endmacro  %}


{#只有 1 或 2 张图没有摘要的情况#}
{%- macro only_img_layout(news) %}
    {%- if news.imgs|length > 0 and news.is_pc %}
        <div class="img-layout" style="margin-right: 10px;"><img src={{ news.imgs[0] }}  alt={{ webtitle }}/></div>
    {%- endif -%}

    <div class="item-right-layout">
        <div class="btn-link title-p-layout">{{ news.title }}</div>
        {{ sub_info(news) }}
    </div>

    {%- if news.imgs|length > 0 and news.is_pc == False %}
        <div class="img-layout" style="margin-left: 10px;"><img src={{ news.imgs[0] }}  alt={{ webtitle }}/></div>
    {%- endif -%}
{%- endmacro  %}


{#多图样式#}
{%- macro multi_img_layout(news) %}
    <div class="item-right-layout item-multi-container">
        <div class="btn-link title-p-layout">{{ news.title }}</div>
        {%- if news.imgs|length >= 3 -%}
            <div class="img-multi-layout">
                {%- for img in news.imgs -%}
                    <div><img src={{ img }} alt={{ webtitle }}></div>
                {%- endfor -%}
            </div>
        {%- endif -%}
        <div> {{ sub_info(news) }} </div>
    </div>
{%- endmacro %}

{% macro sub_info(news, color = '#808080') -%}
    <span class="sub-p-layout item-sub-layout" style="color: {{ color }};">
            {%- if news.source_ico != ''  %}
                <img class="img-circle ico-img" src="{{ news.source_ico }}" alt="{{ news.author }}" />
            {%- endif -%}

            {%- if news.author != '' %}
                {{ news.author }}
            {%- else %}
                {{ news.source_name }}
            {%- endif -%}

            {%- if news.read_count != 0 -%}
                &nbsp;&nbsp;&nbsp;&nbsp;{{ news.read_count }} 热度
            {%- endif -%}
        </span>
{%- endmacro -%}

{#有简介的样式#}
{%- macro summary_style(news) %}
    <div class="full-img-container">
        <div class="full-img-layout" style="background-image: url({{ news.imgs[0] }})">
            <div class="background-cover full-info-container">
                <div class="full-title-div">{{ news.title }}</div>
                <div class="full-summary-div">{{ news.summary }}</div>
                <div>{{ sub_info(news, '#ffffff') }}</div>

            </div>
        </div>
    </div>
{%- endmacro %}



{#热门排行#}
{#========================================================#}

{%- macro hot_list(hots)  %}
    <div class="right-list">
        <span class="card-title-span">热门排行</span>
        <div class="card-content-div">
            {% for item in hots %}
                <a class="card-a-name" target="_blank" href={{ url_for('detail', id=item.news_id) }}>
                    <i class="iconfont hot-i-layout order-i-{{ item.order }} {%- if item.order == 1 %} icon-icon-test2 {%- endif -%} {%- if item.order == 2 %} icon-2 {%- endif -%} {%- if item.order == 3 %} icon-icon-test {%- endif -%} {%- if item.order == 4 %} icon-icon-test4 {%- endif -%} {%- if item.order == 5 %} icon-icon-test3 {%- endif -%}"></i>
                    {{ item.title }}
                </a>
            {% endfor %}
        </div>
    </div>
{%- endmacro  %}




{# 导航栏#}
{#==========================================================#}

{%- macro pc_nav(page) %}
<div class="pc-header">
    {%- if page != 'detail' %}
        <div class="container header-layout-wrapper">
            <div class="col-md-7 header-layout">
                <a class="header-logo web-font" href="/">{{ webtitle }}</a>
                <div class="search-box">
                    <input placeholder="搜索你感兴趣的知识..." id="search-keyword" />
                </div>
                <button class="btn-search" onclick="onTapSearchBtn()">搜 索</button>
            </div>
        </div>
    {%- endif -%}

    <div class="nav-layout {%- if page == 'detail' %} navbar-fixed-top {%- endif %}">
        <div class="container nav-layout-wrapper">
            {{ nav_item(True, page) }}
        </div>
    </div>
</div>
{%- endmacro  -%}

{#mobile导航栏#}
{%- macro mobile_nav(page) -%}
{%- if page != 'detail' %}
    <div class="mobile-header navbar-fixed-top">
        <div class="mobile-header-wrapper">
            <a class="mobile-logo-a web-font" href="/">{{ webtitle }}</a>
            <input type="text" class="mobile-search-input" placeholder="搜索你感兴趣的知识..." maxlength="50"/>
            <i class="iconfont icon-icon-serch search-icon"></i>
{#            <a class="icon-jiahao1 mobile-btn-search iconfont" href="javascript:onTapHomeBtn()"></a>#}
        </div>
        <div class="container mobile-nav-layout-wrapper">
            {{ nav_item(False, page) }}
        </div>
    </div>
    <div class="mobile-mark-div"></div>
{%- endif -%}
{%- endmacro -%}


{#PC 导航栏#}
{%- macro nav_item(ispc, page) -%}
    {%- if ispc==False %}
        {%- set item_prefix = "mobile-" %}
    {%- else %}
        {%- set item_prefix = "" %}
    {%- endif -%}
        <a href="/" class="{{ item_prefix }}a-item {% if page == '/' %} {{ item_prefix }}active {%- endif -%}">文章列表</a>
<!--    <a href="/" class="{{ item_prefix }}a-item {% if page == '/' %} {{ item_prefix }}active {%- endif -%}">推荐</a>-->
<!--    <a href="/dayima" class="{{ item_prefix }}a-item {% if page == 'dayima' %} {{ item_prefix }}active {%- endif %}">大姨妈</a>-->
<!--    <a href="/beiyun" class="{{ item_prefix }}a-item {% if page == 'beiyun' %} {{ item_prefix }}active {%- endif %}">备孕</a>-->
<!--    <a href="/education" class="{{ item_prefix }}a-item {% if page == 'education' %} {{ item_prefix }}active {%- endif %}">育儿</a>-->
<!--    <a href="/health" class="{{ item_prefix }}a-item {% if page == 'health' %} {{ item_prefix }}active {%- endif %}">健康</a>-->
<!--    <a href="/meizhuang" class="{{ item_prefix }}a-item {% if page == 'meizhuang' %} {{ item_prefix }}active {%- endif %}">美妆</a>-->
<!--{#    <a href="/qinggan" class="{{ item_prefix }}a-item {% if page == 'qinggan' %} {{ item_prefix }}active {%- endif %}">情感</a>#}-->
{%- endmacro -%}


{#页面配置#}
{% macro pageinfo(title='', keyword='', description='') %}
    {%- if title == '' %}
        <title>{{ webtitle + '|女人的专属-让你的生活更简单' }}</title>
    {%- else %}
        <title>{{ title + '|' + webtitle + '-女人的专属-让你的生活更简单' }}</title>
    {%- endif %}

    {%- if keyword == '' %}
        <meta name="keywords" content="{{ webtitle }} 新闻资讯 育儿 备孕 大姨妈 痛经 月经 健康 阅读 女性 生活">
    {%- else %}
        <meta name="keywords" content="{{ keyword }}">
    {%- endif %}

    {%- if description == '' %}
        <meta name="description" content="{{ webtitle }}是一款已女性知识为主的内容资讯类网站，它集合了几乎各大女性网站有关女性健康及生活的文章，同时还筛选出各大购物平台中有关女性健康的优质、优惠的生活健康用品，了解女人、了解生活，就来丽人资讯！">
    {%- else %}
        <meta name="description" content="{{ description }}">
    {%- endif %}
{% endmacro %}