{%- set webtitle = '丽人资讯'  %}
<!DOCTYPE html>
<html lang="zh-CN" id="wrapper-html">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, scalable=no, maximum-scale=1.0, minimum-scale=1.0">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

        <link rel="shortcut icon" href={{ url_for('static', filename='img/logo_meili.png') }} type="image/x-icon">

        <!-- 百度认证 -->
        <meta name="baidu-site-verification" content="Z7njkwC3MW" />
        
        {%- block pageinfo -%}
            {%- import 'front/macro.html' as card %}
            {{ card.pageinfo() }}
        {%- endblock -%}

        <!-- Bootstrap -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href={{ url_for('static', filename='css/front.css') }} rel="stylesheet" type="text/css" />
        <link href="//at.alicdn.com/t/font_661408_a34aba9yv6yr2j4i.css" rel="stylesheet" />
        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/helper.js') }}" type='text/javascript'></script>

        <script>
            <!-- 百度统计 -->
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?438717391a3150532f75aae805e087d2";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);

                <!-- 自动推送 -->
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                } else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script>
    </head>
    <body>

        {%- import 'front/macro.html' as header %}
        {{ header.pc_nav(page) }}
        {{ header.mobile_nav(page) }}

        {% block body %}{% endblock %}

        <div class="col-md-12 footer-wrapper">
            <div class="footer-content">
                <p>内容来自网络, 如有侵权请联系 taffy@somenews.cn 处理!</p>
                <p>Copyright © 2018&nbsp;&nbsp;<a target="_self" href="https://www.somenews.cn">{{ webtitle }}</a>&nbsp;&nbsp;
                    <a target="_blank" href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=TVnZlreilWHLvjX3LF8VBAhMtiU3NUIbWjhHrPmbpqnJBCyHFlFh!1316315234">京ICP备18029353号-1</a>
                </p>
            </div>
        </div>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src={{ url_for('static', filename='js/index.js') }} type='text/javascript'></script>
        <script src="{{ url_for('static', filename='js/style.js') }}" type='text/javascript'></script>
        <script src="{{ url_for('static', filename='js/wrapper.js') }}" type="text/javascript"></script>
    </body>
</html>
