{%- set title = info.title %}
{%- set page = 'detail' %}

{%- extends "wrapper.html" %}
{% block body %}
    <div class="news-container container">
        <div class="col-md-7">
            <h2>{{ info.title }}</h2>
            <div>
                {%- if info.source != '' %}
                    <span class="doc-source">来源：{{ info.source }} &nbsp;&nbsp;&nbsp;&nbsp;{{info.publish_time}} </span>
                {%- endif %}
            </div>
            <div class="content-db">
                {{ info.content|safe }}
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4">
            {%- import 'macro.html' as card %}
            {{ card.hot_list(hots) }}
        </div>
    </div>
    <a class="bottom-guide-wrapper navbar-fixed-bottom" href="/">
        <div class="left-wrapper-div">
            <div class="web-font">{{ webtitle }}</div>
            <span>女人的专属-让你的生活更简单</span>
        </div>
        <span class="right-btn-span">去首页看看</span>
    </a>
    <script src="{{ url_for('static', filename='js/detail.js') }}" type='text/javascript'></script>
{% endblock %}