{%- set webtitle = '丽人资讯'  %}
<!DOCTYPE html>
<html lang="zh-CN" id="wrapper-html">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, scalable=no, maximum-scale=1.0, minimum-scale=1.0">

        <meta name="keywords" content="{{ webtitle }} 新闻资讯 育儿 备孕 大姨妈 痛经 月经 健康 阅读 女性 生活">
        <meta name="description" content="{{ webtitle }}是一款已女性知识为主的内容咨询类网站，它集合了几乎各大女性网站有关女性健康及生活的文章，同时还筛选出各大购物平台中有关女性健康的优质、优惠的生活健康用品，了解女人、了解生活，就来丽人咨询！">
        
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>{{ title|default(webtitle + '|女人的专属-让你的生活更简单') }}</title>

        <!-- Bootstrap -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet" type="text/css" />
        <link href="//at.alicdn.com/t/font_661408_4axdfmu7tghtcsor.css" rel="stylesheet" />
        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/helper.js') }}" type='text/javascript'></script>
    </head>
    <body>

        {%- import 'macro.html' as header %}
        {{ header.pc_nav(page) }}
        {{ header.mobile_nav(page) }}

        {% block body %}{% endblock %}

        <div class="col-md-12 footer-wrapper">
            <div class="footer-content">
                <p>内容来自网络, 如有侵权请联系 taffy@somenews.cn 处理!</p>
                <p>Copyright © 2018&nbsp;&nbsp;{{ webtitle }}</p>
            </div>
        </div>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src={{ url_for('static', filename='js/index.js') }} type='text/javascript'></script>
        <script src="{{ url_for('static', filename='js/style.js') }}" type='text/javascript'></script>
        <script src="{{ url_for('static', filename='js/wrapper.js') }}" type="text/javascript"></script>
    </body>
</html>